@import "tailwindcss";


.article-content p {
  margin: 1rem 0;
  line-height: 1.8;
  color: #374151;
}

.article-content h2 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 2rem;
}

.article-content img {
  border-radius: 12px;
  margin: 2rem 0;
}
